@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
//color 

$color0:#d9ed92;
$color1:#b5e43c;
$color2:#99d98c;
$color3:#76c893;
$color4:#52b69a;
$color5:#34a0a4;
$color6:#168aad;
$color7:#1a759f;
$color8:#1e6091;
$color9:#184e77;

$logo-color:#1575EA;

$grey:#414141;
//fonts
$primary-font:'Open Sans', sans-serif;





